.search{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid grey;
}
.searchForm input{
    padding: 10px;
    background-color: transparent;
    height: 50px;
    outline: none;
    border: none;
    color: rgb(169, 167, 167);
    font-size: 1rem;
}
.searchForm input::placeholder{
    color: lightgrey;
}
.userChat{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
}


.userChat:hover{
   background-color: #0d0f4a; 
}
.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.userInfo span{
    font-size: 18px;
    font-weight: 500;
    color: #fffafa;
}
.userInfo p{
    margin: 0;
    color:#e0e0e0;
    font-size: 12px;
}
.userChat img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}